<?xml version="1.0" encoding="ISO-8859-1"?>

<plugin xmlns="http://www.willuhn.de/schema/jameica-plugin"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.willuhn.de/schema/jameica-plugin https://www.willuhn.de/schema/jameica-plugin-1.5.xsd"
        name="hibiscus" version="2.11.0-nightly" class="de.willuhn.jameica.hbci.HBCI">

  <description>HBCI-Onlinebanking-Plugin für Jameica</description>
  <url>https://www.willuhn.de/products/hibiscus/releases/nightly/hibiscus-2.11.0-nightly.zip</url>
  <homepage validate="true">https://www.willuhn.de/products/hibiscus</homepage>
  <license>GPL - http://www.gnu.org/copyleft/gpl.html</license>
  <icon>hibiscus-large.png</icon>

  <requires jameica="2.11.0+" />

  <menu>
    <item id="hibiscus.menu"                             name="&amp;Hibiscus">
      <item id="hibiscus.menu.transfer"                  name="&amp;Zahlungsverkehr">
        <item id="hibiscus.menu.transfer.sepaueb"        name="Neue Überweisung..."       shortcut="ALT+U"    icon="ueberweisung.png"                action="de.willuhn.jameica.hbci.gui.action.AuslandsUeberweisungNew" />
        <item id="hibiscus.menu.transfer.sepalast"       name="Neue Lastschrift..."       shortcut="ALT+T"    icon="lastschrift.png"                 action="de.willuhn.jameica.hbci.gui.action.SepaLastschriftNew" />
        <item id="hibiscus.menu.transfer.sepasammelueb"  name="Neue Sammelüberweisung..." shortcut="ALT+S"    icon="sueberweisung.png"               action="de.willuhn.jameica.hbci.gui.action.SepaSammelUeberweisungNew" />
        <item id="hibiscus.menu.transfer.sepasammellast" name="Neue Sammellastschrift..." shortcut="ALT+F"    icon="slastschrift.png"                action="de.willuhn.jameica.hbci.gui.action.SepaSammelLastschriftNew" />
      </item>
      <item id="hibiscus.menu.ibancalculator"            name="IBAN-Rechner"                                  icon="accessories-calculator.png"      action="de.willuhn.jameica.hbci.gui.action.IbanCalc" />
      <item id="hibiscus.menu.messages"                  name="&amp;Bank-Nachrichten"                         icon="dialog-information.png"          action="de.willuhn.jameica.hbci.gui.action.NachrichtList" />
      <item id="hibiscus.menu.settings"                  name="&amp;Einstellungen"                            icon="document-properties.png"         action="de.willuhn.jameica.hbci.gui.action.Settings" />
      <item name="-" />
      <item id="hibiscus.menu.ext"                       name="Er&amp;weitert">
        <item id="hibiscus.menu.ext.backup.create"       name="Datenbank-Backup &amp;erstellen"               icon="document-save.png"               action="de.willuhn.jameica.hbci.gui.action.BackupCreate" />
        <item id="hibiscus.menu.ext.backup.restore"      name="Datenbank-Backup &amp;importieren"             icon="document-open.png"               action="de.willuhn.jameica.hbci.gui.action.BackupRestore" />
        <item id="hibiscus.menu.ext.hbcitrace"           name="HBCI-Protokoll speichern..."                   icon="mail-send-receive.png"           action="de.willuhn.jameica.hbci.gui.action.HBCITrace" />
        <item name="-" />
        <item id="hibiscus.menu.ext.chiptantest"         name="chipTAN-Generator testen..."                   icon="scanner.png"                     action="de.willuhn.jameica.hbci.gui.action.ChipTanTest" />
      </item>
      <item id="hibiscus.menu.archive"                   name="Archiv">
        <item id="hibiscus.menu.archive.transfer.ueb"        name="Überweisungen"                             icon="ueberweisung.png"                action="de.willuhn.jameica.hbci.gui.action.UeberweisungList" />
        <item id="hibiscus.menu.archive.transfer.einzellast" name="Lastschriften"                             icon="lastschrift.png"                 action="de.willuhn.jameica.hbci.gui.action.LastschriftList" />
        <item id="hibiscus.menu.archive.transfer.sammelueb"  name="Sammelüberweisungen"                       icon="sueberweisung.png"               action="de.willuhn.jameica.hbci.gui.action.SammelUeberweisungList" />
        <item id="hibiscus.menu.archive.transfer.sammellast" name="Sammellastschriften"                       icon="slastschrift.png"                action="de.willuhn.jameica.hbci.gui.action.SammelLastschriftList" />
        <item id="hibiscus.menu.archive.transfer.dauer"      name="Daueraufträge"                             icon="dauerauftrag.png"                action="de.willuhn.jameica.hbci.gui.action.DauerauftragList" />
      </item>
      <item id="hibiscus.menu.handbuch"              name="&amp;Handbuch"                                 icon="edit-copy.png"                   action="de.willuhn.jameica.hbci.gui.action.HandbuchAction"/>
      <item id="hibiscus.menu.support"               name="&amp;Support"                                  icon="internet-web-browser.png"        action="de.willuhn.jameica.hbci.gui.action.SupportAction"/>
      <item name="-" />
      <item id="hibiscus.menu.license"               name="&amp;Lizenzinformationen"                      icon="text-x-generic.png"              action="de.willuhn.jameica.hbci.gui.action.License" />
      <item id="hibiscus.menu.about"                 name="&amp;Über"                                     icon="gtk-info.png"                    action="de.willuhn.jameica.hbci.gui.action.About" />
    </item>
  </menu>

  <classfinder>
    <include>hibiscus\.jar</include>
    <include>.*\.class</include>
    <include>ext_.*\.jar</include>
  </classfinder>

  <navigation>
    <item id="hibiscus.navi"                                 name="Hibiscus"                 icon-close="folder.png" icon-open="folder-open.png">
      <item id="hibiscus.navi.passports"                     name="Bank-Zugänge"             icon-close="system-users.png"                action="de.willuhn.jameica.hbci.gui.action.PassportList" />
      <item id="hibiscus.navi.accounts"                      name="Konten"                   icon-close="system-file-manager.png"         action="de.willuhn.jameica.hbci.gui.action.KontoList" />
      <item id="hibiscus.navi.umsatz"                        name="Umsätze"                  icon-close="emblem-documents.png"            action="de.willuhn.jameica.hbci.gui.action.KontoauszugList" />
      <item id="hibiscus.navi.kontoauszug"                   name="Elektr. Kontoauszüge"     icon-close="application-pdf.png"             action="de.willuhn.jameica.hbci.gui.action.KontoauszugPdfList" />
      <item id="hibiscus.navi.addresses"                     name="Adressbuch"               icon-close="contact-new.png"                 action="de.willuhn.jameica.hbci.gui.action.EmpfaengerList" />
      <item id="hibiscus.navi.sepatransfer"                  name="Zahlungsverkehr"          icon-close="folder.png" icon-open="folder-open.png">
        <item id="hibiscus.navi.transfer.uebforeign"         name="Überweisungen"            icon-close="ueberweisung.png"                action="de.willuhn.jameica.hbci.gui.action.AuslandsUeberweisungList" />
        <item id="hibiscus.navi.transfer.sepalast"           name="Lastschriften"            icon-close="lastschrift.png"                 action="de.willuhn.jameica.hbci.gui.action.SepaLastschriftList" />
        <item id="hibiscus.navi.transfer.sepasammelueb"      name="Sammelüberweisungen"      icon-close="sueberweisung.png"               action="de.willuhn.jameica.hbci.gui.action.SepaSammelUeberweisungList" />
        <item id="hibiscus.navi.transfer.sepasammellast"     name="Sammellastschriften"      icon-close="slastschrift.png"                action="de.willuhn.jameica.hbci.gui.action.SepaSammelLastschriftList" />
        <item id="hibiscus.navi.transfer.sepadauer"          name="Daueraufträge"            icon-close="dauerauftrag.png"                action="de.willuhn.jameica.hbci.gui.action.SepaDauerauftragList" />
      </item>
      <item id="hibiscus.navi.reporting"                     name="Auswertungen"             icon-close="folder.png" icon-open="folder-open.png">
        <item id="hibiscus.navi.reporting.kategorien"        name="Umsätze nach Kategorien"  icon-close="x-office-spreadsheet.png"        action="de.willuhn.jameica.hbci.gui.action.UmsatzTypTree" />
        <item id="hibiscus.navi.reporting.einnahmenausgaben" name="Einnahmen/Ausgaben"       icon-close="gnome-session-switch.png"        action="de.willuhn.jameica.hbci.gui.action.EinnahmenAusgaben" />
        <item id="hibiscus.navi.reporting.saldochart"        name="Saldo im Verlauf"         icon-close="office-chart-area.png"           action="de.willuhn.jameica.hbci.gui.action.SaldoChart" />
        <item id="hibiscus.navi.reporting.sparquote"         name="Sparquote"                icon-close="office-chart-area-focus-peak-node.png" action="de.willuhn.jameica.hbci.gui.action.SparQuote" />
      </item>
      <item id="hibiscus.navi.donate"                        name="Spenden"                  icon-close="emblem-special.png"              action="de.willuhn.jameica.hbci.gui.action.DonateView" />
    </item>
  </navigation>

  <services>
    <service name="database"             depends="" autostart="true" class="de.willuhn.jameica.hbci.rmi.HBCIDBService" />
    <service name="addressbook"          depends="" autostart="true" class="de.willuhn.jameica.hbci.rmi.AddressbookService" />
    <service name="synchronizescheduler" depends="" autostart="true" class="de.willuhn.jameica.hbci.rmi.SynchronizeSchedulerService" />
  </services>
  
  <messaging>
    <consumer queue="hibiscus.query.bankname"              class="de.willuhn.jameica.hbci.messaging.QueryBanknameMessageConsumer" />
    <consumer queue="hibiscus.query.accountcrc"            class="de.willuhn.jameica.hbci.messaging.QueryAccountCRCMessageConsumer" />
    <consumer queue="hibiscus.query.ibancrc"               class="de.willuhn.jameica.hbci.messaging.QueryIBANCRCMessageConsumer" />
    <consumer queue="hibiscus.query.ibancalc"              class="de.willuhn.jameica.hbci.messaging.QueryIBANCalcMessageConsumer" />
    <consumer queue="hibiscus.transfer.lastschrift"        class="de.willuhn.jameica.hbci.messaging.TransferLastschriftMessageConsumer" />
    <consumer queue="hibiscus.transfer.check"              class="de.willuhn.jameica.hbci.messaging.CheckLimitMessageConsumer" />
    <consumer queue="hibiscus.passport.rdh.hbciversion"    class="de.willuhn.jameica.hbci.messaging.QueryHBCIVersionMessageConsumer" />
    <consumer queue="hibiscus.reminder.order"              class="de.willuhn.jameica.hbci.messaging.OrderReminderMessageConsumer" />
    <consumer queue="hibiscus.sync.error"                  class="de.willuhn.jameica.hbci.messaging.SynchronizeErrorMessageConsumer" />

    <consumer queue="hibiscus.dbobject.delete"             class="de.willuhn.jameica.hbci.messaging.DeleteReminderMessageConsumer" />
    <consumer queue="hibiscus.dbobject.delete"             class="de.willuhn.jameica.hbci.messaging.DeleteBookmarkMessageConsumer" />
    
    <consumer queue="hibiscus.dbobject.delete"             class="de.willuhn.jameica.hbci.messaging.MarkOverdueMessageConsumer" />
    <consumer queue="hibiscus.dbobject.store"              class="de.willuhn.jameica.hbci.messaging.MarkOverdueMessageConsumer" />
    
    <consumer queue="hibiscus.sync.hbci.trace"             class="de.willuhn.jameica.hbci.synchronize.hbci.HBCITraceMessageConsumer" />
    <consumer queue="hibiscus.syncengine.status"           class="de.willuhn.jameica.hbci.messaging.SyncEngineStatusMessageConsumer" />

    <consumer queue="syntax.buchung.markchecked"           class="de.willuhn.jameica.hbci.messaging.SyntaxBuchungMarkCheckedMessageConsumer" />

    <!-- werden manuell registriert, um die Reihenfolge festzulegen. Damit ist sichergestellt, dass der Saldo des Kontos
         aktualisiert wurde, wenn die Auto-Buchung erzeugt wird -->
    <consumer queue="" class="de.willuhn.jameica.hbci.messaging.OfflineSaldoMessageConsumer" />
    <consumer queue="" class="de.willuhn.jameica.hbci.messaging.CheckOfflineUmsatzMessageConsumer" />
    
  </messaging>
  
  <extensions>
    <extension extends="de.willuhn.jameica.hbci.gui.dialogs.ExportDialog" class="de.willuhn.jameica.hbci.gui.ext.ExportSaldoExtension"/>
    <extension extends="de.willuhn.jameica.hbci.gui.dialogs.ExportDialog" class="de.willuhn.jameica.hbci.gui.ext.ExportAddSumRowExtension"/>
  </extensions>

</plugin>

