<?xml version="1.0" encoding="ISO-8859-1"?>

<plugin xmlns="http://www.willuhn.de/schema/jameica-plugin"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.willuhn.de/schema/jameica-plugin http://www.willuhn.de/schema/jameica-plugin-1.0.xsd"
        name="hibiscus" version="1.12.0-nightly" class="de.willuhn.jameica.hbci.HBCI">

  <description>HBCI-Onlinebanking-Plugin für Jameica</description>
  <url>https://www.willuhn.de/products/hibiscus/releases/nightly/hibiscus-1.12-nightly.zip</url>
  <homepage>http://www.willuhn.de/products/hibiscus</homepage>
  <license>GPL - http://www.gnu.org/copyleft/gpl.html</license>

  <requires jameica="1.10.0">
    <import plugin="jameica.scripting" required="false" version="1.0+" />
  </requires>

  <menu>
    <item id="hibiscus.menu"                         name="Hibiscus">
      <item id="hibiscus.menu.transfer"              name="Zahlungsverkehr">
        <item id="hibiscus.menu.transfer.ueb"        name="Neue Überweisung..."       shortcut="ALT+U"    icon="stock_next.png"                  action="de.willuhn.jameica.hbci.gui.action.UeberweisungNew" />
        <item id="hibiscus.menu.transfer.last"       name="Neue Lastschrift..."       shortcut="ALT+T"    icon="stock_previous.png"              action="de.willuhn.jameica.hbci.gui.action.LastschriftNew" />
        <item id="hibiscus.menu.transfer.sammelueb"  name="Neue Sammelüberweisung..." shortcut="ALT+S"    icon="stock_navigator-shift-right.png" action="de.willuhn.jameica.hbci.gui.action.SammelUeberweisungNew" />
        <item id="hibiscus.menu.transfer.sammellast" name="Neue Sammellastschrift..." shortcut="ALT+F"    icon="stock_navigator-shift-left.png"  action="de.willuhn.jameica.hbci.gui.action.SammelLastschriftNew" />
      </item>
      <item id="hibiscus.menu.settings"              name="Einstellungen"                                 icon="document-properties.png"         action="de.willuhn.jameica.hbci.gui.action.Settings" />
      <item name="-" />
      <item id="hibiscus.menu.handbuch"              name="Handbuch"                                      icon="edit-copy.png"                   action="de.willuhn.jameica.hbci.gui.action.HandbuchAction"/>
      <item id="hibiscus.menu.donate"                name="Spenden"                                       icon="emblem-special.png"              action="de.willuhn.jameica.hbci.gui.action.Donate" />
      <item name="-" />
      <item id="hibiscus.menu.about"                 name="About"                                         icon="dialog-information.png"          action="de.willuhn.jameica.hbci.gui.action.About" />
      <item name="-" />
      <item id="hibiscus.menu.ext"                   name="Erweitert">
        <item id="hibiscus.menu.ext.license"         name="Lizenzinformationen"                           icon="text-x-generic.png"              action="de.willuhn.jameica.hbci.gui.action.License" />
        <item name="-" />
        <item id="hibiscus.menu.ext.backup.create"   name="Diagnose-Backup erstellen"                     icon="document-save.png"               action="de.willuhn.jameica.hbci.gui.action.BackupCreate" />
        <item id="hibiscus.menu.ext.backup.restore"  name="Diagnose-Backup importieren"                   icon="document-open.png"               action="de.willuhn.jameica.hbci.gui.action.BackupRestore" />
      </item>
    </item>
  </menu>

  <classfinder>
    <include>hibiscus\.jar</include>
    <include>.*\.class</include>
    <include>ext_.*\.jar</include>
  </classfinder>

  <navigation>
    <item id="hibiscus.navi"                                 name="Hibiscus"                icon-close="folder.png">
      <item id="hibiscus.navi.accounts"                      name="Konten"                  icon-close="system-file-manager.png"         action="de.willuhn.jameica.hbci.gui.action.KontoList" />
      <item id="hibiscus.navi.addresses"                     name="Adressbuch"              icon-close="contact-new.png"                 action="de.willuhn.jameica.hbci.gui.action.EmpfaengerList" />
      <item id="hibiscus.navi.messages"                      name="System-Nachrichten"      icon-close="dialog-information.png"          action="de.willuhn.jameica.hbci.gui.action.NachrichtList" />
      <item id="hibiscus.navi.transfer"                      name="Zahlungsverkehr"         icon-close="folder.png">
        <item id="hibiscus.navi.transfer.ueb"                name="Überweisungen"           icon-close="stock_next.png"                  action="de.willuhn.jameica.hbci.gui.action.UeberweisungList" />
        <item id="hibiscus.navi.transfer.einzellast"         name="Lastschriften"           icon-close="stock_previous.png"              action="de.willuhn.jameica.hbci.gui.action.LastschriftList" />
        <item id="hibiscus.navi.transfer.sammelueb"          name="Sammelüberweisungen"     icon-close="stock_navigator-shift-right.png" action="de.willuhn.jameica.hbci.gui.action.SammelUeberweisungList" />
        <item id="hibiscus.navi.transfer.sammellast"         name="Sammellastschriften"     icon-close="stock_navigator-shift-left.png"  action="de.willuhn.jameica.hbci.gui.action.SammelLastschriftList" />
        <item id="hibiscus.navi.transfer.dauer"              name="Daueraufträge"           icon-close="stock_form-time-field.png"       action="de.willuhn.jameica.hbci.gui.action.DauerauftragList" />
        <item id="hibiscus.navi.transfer.uebforeign"         name="SEPA-Überweisungen"      icon-close="internet-web-browser.png"        action="de.willuhn.jameica.hbci.gui.action.AuslandsUeberweisungList" />
      </item>
      <item id="hibiscus.navi.reporting"                     name="Auswertungen"            icon-close="folder.png">
        <item id="hibiscus.navi.reporting.kontoauszug"       name="Kontoauszüge"            icon-close="office-calendar.png"             action="de.willuhn.jameica.hbci.gui.action.KontoauszugRpt" />
        <item id="hibiscus.navi.reporting.kategorien"        name="Umsätze nach Kategorien" icon-close="x-office-spreadsheet.png"        action="de.willuhn.jameica.hbci.gui.action.UmsatzTypTree" />
        <item id="hibiscus.navi.reporting.einnahmenausgaben" name="Einnahmen/Ausgaben"      icon-close="stock_insert-rows.png"           action="de.willuhn.jameica.hbci.gui.action.EinnahmenAusgaben" />
        <item id="hibiscus.navi.reporting.sparquote"         name="Sparquote"               icon-close="utilities-system-monitor.png"    action="de.willuhn.jameica.hbci.gui.action.SparQuote" />
        <item id="hibiscus.navi.reporting.saldochart"        name="Saldo im Verlauf"        icon-close="gnome-finance.png"               action="de.willuhn.jameica.hbci.gui.action.SaldoChart" />
      </item>
      <item id="hibiscus.navi.donate"                        name="Spenden"                 icon-close="emblem-special.png"              action="de.willuhn.jameica.hbci.gui.action.DonateView" />
    </item>
  </navigation>

  <services>
    <service name="database"    depends="" autostart="true" class="de.willuhn.jameica.hbci.rmi.HBCIDBService" />
    <service name="addressbook" depends="" autostart="true" class="de.willuhn.jameica.hbci.rmi.AddressbookService" />
  </services>

</plugin>

