<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=$!charset" />
    <title>Umsätze [$!dateformat.format($datum)]</title>
  </head>
  <style>
    body  {
      background-color        : #ffffff;
      background-attachment   : fixed;
      color                   : #000000;
      margin-left             : 10px;
      margin-right            : 10px;
      margin-top              : 10px;
      margin-bottom           : 0px;
    }

    p,h1,h2,h3,h4,ul,ol,li,div,td,th,address,blockquote,nobr,b,i {
      font-family             : Verdana, Helvetica, Arial;
      color                   : #000000;
      font-size               : 8pt;
    }

    table {
    }
    th {
      text-align               : left;
    }
    td {
      vertical-align           : top;
      text-align               : left;
    }

    table.data {
      width                    : 100%;
      border                   : 1px solid #E0E0E0;
    }
    table.data th {
      color                    : #ffffff;
      padding-left             : 3px;
      padding-right            : 10px;
      background-color         : #b0b0a0;
    }
    table.data td {
      background               : #f8f8f8;
      margin                   : 0px;
      padding-left             : 3px;
      padding-right            : 10px;
      font-size                : 7pt;
      color                    : #505050;
      white-space              : nowrap;
    }
    tr.red td {
      background               : #fff1f1;
      margin                   : 0px;
      padding-left             : 3px;
      padding-right            : 10px;
      font-size                : 7pt;
      color                    : #900000;
      white-space              : nowrap;
    }

    ol,ul {
      list-style-position      : outside;
    }
    
    ul {
      list-style-type          : disk;
      margin-top               : 0px;
      margin-bottom            : 0px;
    }
    
    h1 {
      color                    : #d76B00;
      font-weight              : bold;
      font-size                : 10pt;
      margin-top               : 1px;
      margin-bottom            : 1px;
    }
    
    h2 {
      color                    : #000055;
      font-weight              : bold;
      font-size                : 8pt;
      margin-top               : 1px;
      margin-bottom            : 3px;
    }
    
    h3 {
      font-weight              : normal;
      font-size                : 7pt;
      margin-top               : 5px;
      margin-bottom            : 0px;
    }

    div.comment {
      margin-top               : 4px;
      margin-bottom            : 4px;
      padding-left             : 4px;
      padding-top              : 2px;
      border                   : 1px solid #E0E0E0;
      font-size                : 7pt;
      color                    : #707070;
    }

    div.box {
      margin-top               : 4px;
      margin-bottom            : 4px;
      padding-left             : 4px;
      padding-top              : 2px;
      border                   : 1px solid #E0E0E0;
      color                    : #404040;
    }

    pre {
      margin-top               : 4px;
      margin-bottom            : 4px;
      padding                  : 4px;
      border                   : 1px solid #E0E0E0;
      font-family              : BitStream Vera Sans Mono, Terminal [DEC], Courier New, Courier;
      font-size                : 8pt;
      color                    : #505050;
    }

    a:link  {
      color                    : #000088;
      text-decoration          : none;
    }
    
    a:visited  {
      color                    : #808080;
      text-decoration          : none;
    }
    
    a:hover {
      color                    : #0000dd;
      text-decoration          : none;
    }
    
    a:active {
      color                    : #0000dd;
      text-decoration          : none;
    }
    
    a:focus {
      color                    : #0000dd;
      text-decoration          : none;
    }

    @media print
    {
      table.data td {
        color                  : #000000;
      }
    }

  </style>
  
#set($hs        = $session.get("saldo.hide"))
#set($hideSaldo = $!hs.booleanValue())
  
  <body>
    <h1>Konto-Umsätze</h1>
    <h2>$!dateformat.format($datum)</h2>
	
    <br/><br/>

    <table class="data">
      <tr>
        <th>Konto</th>
        <th>Gegenkonto</th>
        <th>Art</th>
        <th style="text-align:right">Betrag</th>
        <th>Valuta</th>
        <th>Datum</th>
        <th>Verwendungszweck</th>
#if(!$hideSaldo)
        <th style="text-align:right">Saldo</th>
#end
        <th>Primanota</th>
        <th>Referenz</th>
        <th>Vormerkbuchung</th>
        <th>Mandatsreferenz</th>
        <th>Gläubiger ID</th>
      </tr>
      
      #foreach($t in $objects)
        <tr #if($t.betrag < 0) class="red"#end>
          <td>$!t.konto.longName</td>
          <td>$!t.gegenkontoName, Kto. $!t.gegenkontoNummer, BLZ $!t.gegenkontoBLZ</td>
          <td>$!t.art</td>
          <td style="text-align:right">$!decimalformat.format($t.betrag) $!t.konto.waehrung</td>
          <td>$!dateformat.format($t.valuta)</td>
          <td>$!dateformat.format($t.datum)</td>
          <td>
            $!t.zweck
            #if($!t.zweck2 != '')
              <br/>
              $!t.zweck2
            #end
            #foreach($ewz in $t.weitereVerwendungszwecke)
              <br/>
              $!ewz
            #end
            $!t.kommentar
          </td>
#if(!$hideSaldo)
          <td style="text-align:right">$!decimalformat.format($t.saldo) $!t.konto.waehrung</td>
#end
          <td>$!t.primanota</td>
          <td>$!t.customerRef</td>
          <td>#if(!$umsatz.hasFlag(2))ja#end</td>
          <td>$!t.mandateId</td>
          <td>$!t.creditorId</td>
        </tr>
      #end
    </table>
  </body>
</html>
