"Name";"Kontonummer";"BLZ";"IBAN";"BIC";"Kommentar"
#foreach($adresse in $objects)
"$!{adresse.name}";"$!{adresse.kontonummer}";"$!{adresse.blz}";"$!{adresse.iban}";"$!{adresse.bic}";"$!{adresse.kommentar}"
#end