<?xml version="1.0" encoding="ISO8859-1"?> 

<menu>

  <cascade name="HBCI">
    <item name="Einstellungen"     class="de.willuhn.jameica.hbci.gui.views.Settings" />
    <item name="-" />
    <item name="Neue Überweisung"  class="de.willuhn.jameica.hbci.gui.views.UeberweisungNeu" />
  </cascade>

</menu>
