<?xml version="1.0" encoding="ISO8859-1"?> 

<menu>

  <cascade name="HBCI">
    <item name="Einstellungen"     		class="de.willuhn.jameica.hbci.gui.views.Settings" />
    <item name="Neue Überweisung"  		shortcut="CTRL+U" class="de.willuhn.jameica.hbci.gui.views.UeberweisungNeu" />
    <item name="-" />
    <item name="Lizenzinformationen"    class="de.willuhn.jameica.hbci.gui.views.License" />
  </cascade>

</menu>
